<div
  class="card mt-3 p-2 alert alert-warning"
  style="max-width: 540px;"
  *ngFor="let game of neededGame"
>
  <div class="row">
    <div class="col-md-6">
      <img [src]="game.image" [alt]="game.name">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title">{{ game.name }}</h3>
        <p class="card-text"><strong>Platform: </strong>{{ game.platform }}</p>
        <p class="card-text"><strong>Description: </strong>{{ game.description }}</p>
      </div>
    </div>
  </div>
</div>
