<form class="mt-3 row" (ngSubmit)="createNewGame()">
  <div class="col-4">
    <h1>Create a new game</h1>
    <div class="form-group">
      <label for="formGroupExampleInput1"><strong>Name</strong></label>
      <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Enter the name" #nameInput>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2"><strong>Image Url</strong></label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter the url" #imageInput>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1"><strong>Platform</strong></label>
      <select class="form-control" id="exampleFormControlSelect1" #platformSelect>
        <option>NES</option>
        <option>Sega Genesis</option>
        <option>Super Nintendo</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"><strong>Description</strong></label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Enter the description"
        #descriptionArea
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

