<div class="row">
  <div class="col">
    <h3>Games list</h3>
    <div class="row">
      <div class="col-3 text-center" *ngFor="let game of platformGamesList">
        <a [routerLink]="['/details/', game.id]">
        <img [src]="game.image" class="img-fluid" [alt]="game.name">
        </a>
        <p class="badge badge-primary text-wrap">{{ game.name }}</p>
      </div>
    </div>
  </div>
</div>
