<div class="row mt-3">
  <div class="col-4 mr-5">
    <h3>Platforms list</h3>
    <div class="list-group">
      <a
        *ngFor="let platform of platforms; let i = index"
        class="list-group-item list-group-item-action"
        [routerLink]="[i]"
        routerLinkActive="active"
      >{{ platform }}
      </a>
    </div>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>
